.auth-container,
.logout-container {
  border-radius: 5px;
  height: fit-content;
  margin: 1rem;
  row-gap: 0.5rem;
}

.signup-container {
  padding: 1rem;
}

.form-auth {
  margin: 0.5rem;
  padding: 1rem;
  width: 25rem;
  color: #646464;
}

.heading4 {
  padding-top: 1rem;
}

.logout-container {
  box-shadow: unset;
  align-items: flex-start;
}

.input-primary {
  width: 65%;
  display: block;
  font-size: 13px;
}

.btn-auth {
  width: 100%;
  margin: unset;
}
.btn-auth:disabled {
  cursor: not-allowed !important;
}

.btn-link-primary,
#terms-conditions {
  display: inline-block;
  margin: 0.5rem;
}

.form-input {
  display: flex;
  width: 100%;
  margin: 1rem;
}

.input-label {
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  justify-content: flex-start;
  width: 30%;
}

.error {
  color: var(--error-color);
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
  padding: unset;
  margin-left: 35%;
}

.error > div {
  font-size: 14px;
}

.error-icon {
  padding-right: 5px;
}

.error > span {
  left: 5px;
}

.guest-button {
  margin: 1rem 0;
}

.input-icon-style {
  color: var(--default-color);
  font-size: 1rem;
  position: absolute;
  right: 5px;
  top: 6px;
}

.input-icon-container {
  position: relative;
}

.input-no-outline {
  outline: none;
  border: none;
  font-size: 13px;
  position: absolute;
  bottom: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 640px) {
  .auth-container {
    padding: 1rem;
  }
  .form-auth {
    width: 100%;
  }
  .input-label {
    font-size: 13px;
    font-weight: bold;
  }
  .error > div {
    font-size: 12px;
  }
}
